.header-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/pexels-lukas-574077.jpg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.i-am {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.check-out {  
  line-height: 0px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.check-out p {
  font-size: 50%; 
}